/Users/nataliiabondarenko/Desktop/GitHub/nosql-challenge/Starter_Code-17/Resources/establishments.json filter=lfs diff=lfs merge=lfs -text
/Users/nataliiabondarenko/Desktop/GitHub/nosql-challenge/Starter_Code-17/Resources/establishments.json.psd filter=lfs diff=lfs merge=lfs -text
/Users/nataliiabondarenko/Desktop/GitHub/nosql-challenge/Starter_Code-17/Resources/establishments.json[[:space:]] filter=lfs diff=lfs merge=lfs -text
